backscatter==0.2.4
requests==2.27.1
futures==3.3.0
pika==1.2.1
cbapi==1.7
pympler==0.9
pychm==0.8.6
git+https://github.com/MITRECND/pynids.git
pyclamd==0.4.0
mod_pywebsocket==0.7.9
pyimpfuzzy==0.5
pefile==2019.4.18
oletools==0.60.1
mmbot==1.0.10
passivetotal==1.0.23
numpy==1.16.6
bitstring==3.1.9
pillow==6.2.2
mod_pywebsocket==0.7.9
pexpect==4.8.0
pyinstaller==3.6
yara-python==3.5.0
pype32==0.1a5
pycrypto==2.6.1
shodan==1.28.0
stix-validator==2.5.1
m2crypto==0.38.0
libtaxii==1.1.111
cybox==2.1.0.14
stix==1.2.0.4
stix-ramrod==1.2.0
pytx==0.5.10
lxml==4.9.1
pylzma==0.5.0
pythonwhois==2.4.3
IPWhois==1.2.0
